name: Build and Push Docker Image

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

env:
  GHCR_IMAGE_NAME: ${{ github.actor }}//librespot-docker
  REGISTRY: ghcr.io

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
      
    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install docker
        uses: docker/setup-docker-action@v4

      - name: Setup BuildX
        uses: docker/setup-buildx-action@v3
        
        # Log in to GitHub Docker Registry
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.GHCR_IMAGE_NAME }}/
        
